body
{
	margin: auto;
}

h1
{
	font-size: 40px;
	font-family: "Castellar";
	letter-spacing: 5px;
}

header
{
	width: 100%;
	height: 90px;
	position: fixed;
	text-align: center;
	background-color: red;
	border-bottom: 2px solid grey;
}

footer
{
	width: 100%;
	height: 70px;
	position: fixed;
	bottom: 0;
	text-align: center;
	background-color: black;
	color: white;
	border-top: 2px solid grey;

}

#navBar
{
	width:100%;
	height: 25px;
	position: fixed;
	top: 92px;
	border-bottom: 2px solid black;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: black;
}

#content
{
	width: 100%;
	height: 1000px;
	position: fixed;
	top: 128px;
	border-top: 2px solid grey;
	padding-top: 0px;
}

#innerContent
{
	width: 100%;
	height: 500px;
	position:fixed;
	top: 222px;
	overflow: scroll;
	
}

a:link, a:visited
{
	border: 2px solid #ff6666;
	background-color: red;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 4px 7px;

}

a:hover, a:active
{
	background-color: black;
}

button
{
    cursor: pointer;
    border: 2px solid #ff6666;
	background-color: red;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 4px 7px;
}

button:hover
{
	background-color: black;
	border-color: grey;
}