
input[type=text]
{
	border: 1px solid #1ad1ff;
	border-radius: 4px;
}

input[type=text]:focus
{
	background-color: lightblue;
}

input[type=submit]
{
	border: 1px solid #1ad1ff;
	border-radius: 4px;
	background-color: lightblue;
	
}

header
{
	background-color: #007399;
	color: white;
	width:100%;

}

body
{
	background-color: #002266;
	color: white;

}